pydantic

# For openai embeddings
openai

# For milvus-lite
protobuf==3.20.0
grpcio-tools
pymilvus

# For pinecone
pinecone-client==5.0.1

# For testing
python-dotenv
pytest
coverage
pytest-cov

# For pdf parsing
pymupdf
beautifulsoup4
markdownify
langdetect
playwright
psutil
